<main id="content" class="content">
    <section id="search" class="search">
        <input type="text" id="searchField" class="search-field" autofocus>
        <ul id="searchResultsList" class="search-results hidden"></ul>
        <ul id="searchResults" class="search-results hidden"></ul>
    </section>
</main>
