<div id="container" class="container">
    <div id="logo">
        <p id="logo-p">
            WhenIsIt<span>On</span>
        </p>
    </div>
    <div id="continput">
        <div id="input-group">
            <input type="text" id="searchfield" class="search-field" placeholder="Enter a show.">
        </div>
    </div>
    <ul id="results"></ul>
    <div id="episode">
      <img id="episodeimage" src="http://tvmazecdn.com/uploads/images/medium_landscape/58/145441.jpg" alt="Episode">
      <span id="airdate">3/17/2016</span>
      <p id="synopsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus odio totam, accusamus modi libero quisquam voluptates dolores aspernatur mollitia eveniet, odit molestiae unde obcaecati soluta ad. Molestias, ullam, nisi.</p>
    </div>
</div>
