<div id="container" class="container">
    <div id="logo">
        <p id="logo-p">
            WhenIsIt<span>On</span>
        </p>
    </div>
    <div id="continput">
        <div id="input-group">
            <input type="text" id="searchField" class="search-field" placeholder="Enter a show.">
        </div>
    </div>
    <ul id="results"></ul>
</div>
