<div id="search">
  <h2>When is it on?</h2>
    <input type="text" id="showName">
    <button type="submit" id="tellme">Tell Me!</button>
</div>
<div id="results" class="hidden">
  <h2>results</h2>
</div>