<!DOCTYPE html>
<html>

<head>
  <title>When is it on?</title>
  <!-- bower:css -->
  <!-- bower installed css files will go here... -->
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
</head>

<body>
  <div id="content">
    <!-- extract to partials later -->
    <div id="search">
      <h2>When is it on?</h2>
        <input type="text" id="showName">
        <button type="submit" id="tellme">Tell Me!</button>
    </div>
    <div id="results" class="hidden">
      <h2>results</h2>
    </div>
  </div>
  <!-- bower:js -->
  <!-- endinject -->
  <!-- inject:js -->
  <script src="js/script.js"></script>
  <!-- endinject -->
</body>

</html>