<div id="container" class="container">
    <div id="logo">
      <a href="/">
        <p id="logo-p">
          WhenIsIt<span>On</span>
        </p>
      </a>
    </div>
    <div id="continput">
        <div id="input-group">
            <input type="text" id="searchfield" class="search-field" placeholder="Enter a show.">
        </div>
    </div>
    <ul id="results"></ul>
    <div id="episode-details">
        <div id="episode-header">
            <img id="show-poster" />
            <h2 id="episode-title"></h2>
            <h4 id="episode-number"></h4>
            <time id="airdate"></time>
            <time id="airdate-fromnow"></time>
        </div>
        <div id="synopsis">
            <p id="synopsis-text">
                No synopsis available for this episode.
            </p>
            <div id="synopsis-cover">
                <span>Show synopsis.</span>
            </div>
        </div>
    </div>
    <div id="error">
      <span id="error-text"></span>
    </div>
</div>
