<div id="search">
  <h2>When is it on?</h2>
    <input type="text" id="showname">
    <button type="submit" id="tellme">Tell Me!</button>
</div>
<div id="results" class="hidden">
  <ul id="showlist">
    
  </ul>
</div>