<div id="container" class="container">
    <div id="logo">
        <p id="logo-p">
            WhenIsIt<span>On</span>
        </p>
    </div>
    <div id="continput">
        <div id="input-group">
            <input type="text" id="searchfield" class="search-field" placeholder="Enter a show.">
        </div>
    </div>
    <ul id="results"></ul>
    <div id="episode">
        <img id="episode-image" data-src="holder.js/550x309?bg=1f1f1f&text=No Episode Picture" alt="Episode">
        <div id="episode-details">
            <span id="airdate">00/00/0000</span>
            <div id="synopsis">
              <p id="synopsis-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex necessitatibus odio totam, accusamus modi libero quisquam voluptates dolores aspernatur mollitia eveniet, odit molestiae unde obcaecati soluta ad. Molestias, ullam, nisi.
              </p>
              <div id="synopsis-cover">
                <span>Click to show synopsis.</span>
              </div>
            </div>
        </div>
    </div>
</div>
