<!DOCTYPE html>
<html>

<head>
  <title>When is it on?</title>
  <!-- bower:css -->
  <!-- bower installed css files will go here... -->
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/css/style.css">
  <!-- endinject -->
</head>

<body>
    
    {{{ body }}}
    
  <!-- bower:js -->
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/public/js/script.js"></script>
  <!-- endinject -->
</body>

</html>